* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  border: 1px dashed rgba(255, 0, 0, 0.336);
  gap: 10px;
  width: 90%;
  margin: 0 auto;
}

.section {
  border: 1px dashed #4d4d4d;
  /* padding: 10px; */
}

.white {
  color: #ffffffc7;
}
.red {
  color: #e8476a;
}
.yellow {
  color: #f5e12a;
}
.green {
  color: #3fc42ac7;
}
.blue {
  color: #2a6ef5;
}

/* Header section */
.header {
  height: 130px;
}

.row {
  display: flex;
  height: 100%;
  gap: 10px;
}

.col {
  border: 1px dashed #4d4d4d;
  height: 100%;
}

.col-left {
  flex: 2;
}
.col-right {
  flex: 1;
}

/* Tech Stack section */
.tech-stack {
  height: auto;
}

.tech-stack p {
  line-height: 1.5;
}

/* App gallery section */
.app-gallery {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.app-gallery-stack {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.app-gallery-inner {
  border: 1px dashed #4d4d4d;
  height: 110px;
}

/* Education section */
.education {
  height: 130px;
}
