* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  border: 1px dashed red;
  gap: 10px;
  width: 90%;
  margin: 0 auto;
}

.section {
  border: 1px dashed #000;
  /* padding: 10px; */
}

/* Header section */
.header {
  height: 130px;
}

.row {
  display: flex;
  height: 100%;
  gap: 10px;
  padding: 10px;
}

.col {
  border: 1px dashed #000;
  height: 100%;
}

.col-left {
  flex: 2;
}
.col-right {
  flex: 1;
}

/* Tech Stack section */
.tech-stack {
  height: 130px;
}

/* App gallery section */
.app-gallery {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.app-gallery-stack {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.app-gallery-inner {
  border: 1px dashed #000;
  height: 110px;
}

/* Education section */
.education {
  height: 130px;
}
